<mat-card *ngIf="product" [ngClass]="{'text-center' : !fullwidthMode}">
  <div>
    <img [ngClass]="{'h-200px' : !fullwidthMode, 'h-[360px]' : !fullwidthMode}" class="mb-1 mx-auto h-[200px]"
     [src]="product?.image" alt="" />
    <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between' : fullwidthMode}">
      <div>
        <h5>{{product?.category}}</h5>
        <p class="truncate hover:whitespace-normal">{{product?.title}}</p>
        <p *ngIf="fullwidthMode">description</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{'150'| currency}}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>