<!-- <mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title>
      CATEGORIES
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <button mat-menu-item (click)="onShowCategory(category)">{{category}}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel> -->
<div>
  <button mat-button [matMenuTriggerFor]="menu">
      CATEGORIES
      <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu  yPosition="above" #menu="matMenu" class="w-28">
      <button  class="px-4"  *ngFor="let category of categories"  (click)="onShowCategory(category)" mat-menu-item>{{category}}</button>
  </mat-menu>
</div>